@{
    ViewData["Title"] = "About";
}

<div class="designerHost">
    <div class="policySection">
        <span class="policySectionTitle">About Azure resource policies</span>
        <p class="policySectionInfo">Azure Policy is a service for managing Azure resources. <br>The most important concept in Azure Policy is the so called policy definition. "Policy definitions enforce different rules and effects over your resources, so those resources stay compliant with your corporate standards and service level agreements. Azure Policy runs an evaluation of your resources, scanning for those not compliant with the policy definitions you have. For example, you can have a policy to allow only certain type of virtual machines. Another requires that all resources have a particular tag. These policies are then evaluated when creating and updating resources."</p>
        <p class="policySectionInfo">Here is a list of resources to get started on Azure Policy:
            <ul>
                <li><a href="https://docs.microsoft.com/en-us/azure/azure-policy/azure-policy-introduction" target="_blank">Article - What is Azure Policy?</a></li>
                <li><a href="https://docs.microsoft.com/en-us/azure/azure-policy/policy-definition" target="_blank">Article - Azure Policy definition structure</a></li>
                <li><a href="https://www.youtube.com/watch?v=1i8qlC2Fel4" target="_blank">Video - Managing Azure Resources with Resource Policies</a></li>
            </ul>
        </p>
    </div>
    <div class="policySection">
        <span class="policySectionTitle">About Azure Resource Policy Designer</span>
        <p class="policySectionInfo">This app aims to make it easier to create and edit policy definition files. In essence an Azure Policy Definition is a JSON file which can get quite complex. Manually editing those files can become increasingly difficult and Azure Resource Policy Designer tries to make this process a lot faster, logical, and error-free.</p>
        <p class="policySectionInfo">With Azure Resource Policy Designer you can start create and edit resource definition file visually. To get started simply <a href="https://resourcepolicydesigner.azurewebsites.net/">visit our home page and start experimenting</a>.</p>
    </div>
</div>
        