@{
    ViewData["Title"] = "About";
}

<div class="designerHost">
    <div class="policySection">
        <span class="policySectionTitle">About this app</span>
        <span class="policySectionInfo">About this app</span>
    </div>
</div>
        