<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Azure Resource Policy Designer is a tool for editing Azure resource policies visually. The tool provides clean design surface and quick navigation. Progress is saved so that editing can resume at any point in time.">
    <meta name="keywords" content="azure, resource policy, resource policy designer, open source">
    <title>@ViewData["Title"] - Azure Resource Policy Designer</title>
    <base href="~/" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/kendo/kendo.common-material.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/kendo/kendo.material.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fontawesome5-all.min.css" asp-append-version="true" />
</head>
<body>

    <div id="app" class="container">
        <div class="header">
            <h1 class="title">Azure Resource Policy Designer</h1>
            <nav class="appNavigation">
                <ul>
                    <li class="appNavigationItem"><a href="/">Home</a></li>
                    <li class="appNavigationItem"><a href="/about">About</a></li>
                    <li class="appNavigationItem"><a href="https://github.com/milannankov/azure-resource-policy-designer" target="_blank">Github</a></li>
                </ul>
            </nav>
        </div>
        <div class="appContent">
            @RenderBody()
        </div>
    </div>

    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
<<<<<<< HEAD

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-10083803-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-10083803-2');
    </script>
=======
>>>>>>> master
    
</body>
</html>